body{
   
    margin: 0px;
    padding: 0px;
    background-image: url(img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 15px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 60dvw;
   height: 7dvh;
   background-color: rgba(255,255,255,0.03);
   backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 20px;
  position: absolute;
  left:20%;
}

    

.one{
  
    background-image: url(img/logo.png);
  background-size: cover;
    width: 100px;
    height: 90px;
    
}
.two{
    position: absolute;
    left: 14%;
    color: white;
    font-size: 20px;
}

   

    
    